@use "../util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  border: 2px dashed #c19a6b;
  // border-radius: rem(8);
}

body {
  margin: 0;
  padding: 0;
  caret-color: var(--moderate-cyan);
}

h1 {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: rem(22);
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: rem(20);
  }
}

h2 {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: rem(18);
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: rem(20);
  }
}

h3 {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: rem(14);
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: rem(18);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: contain;
}

.large {
  display: none !important;
}

.med-desk {
  display: none !important;
}

@include breakpoint(medium) {
  .med-desk {
    display: initial !important;
  }
  .mobile {
    display: none !important;
  }
}

@include breakpoint(large) {
  .large {
    display: initial !important;
  }
  .medium {
    display: none !important;
  }
}
