:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 98%);
  --bookmarkBtn-background: hsl(0, 0%, 96%);
  --bookmarkBtn-oval-hover: #707070;
  --btn-hover-background: #147A73;
;
}
