@use "../util" as *;

.aboutCard {

  .about {
    margin-bottom: rem(35);
  }

  .productList {
    list-style: none;

    li:not(:last-child) {
      margin-bottom: rem(24);
    }

    
  }

  @include breakpoint(medium) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
