@use "../util" as *;

.bookmarkBtn {
  padding: 0;
  border: none;
  outline: none;
  color: var(--dark-gray);
  background-color: var(--bookmarkBtn-background);

  span {
    padding: em(18) em(24) em(18) em(16);
  }

  &:hover,
  &:focus {
    background-color: var(--bookmarkBtn-background);
    svg circle {
      fill: var(--bookmarkBtn-oval-hover);
    }
  }

  &.bookmarked {
    color: var(--btn-hover-background);

    svg {
      path {
        fill: white;
      }
      circle {
        fill: var(--btn-hover-background);
      }
    }
  }
}
