@use "../util" as *;

button,
.btn {
  font-size: rem(16);
  padding: em(18) em(42);
  border-radius: rem(100);
  background-color: var(--moderate-cyan);
  color: white;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  @include breakpoint-down(xsmall) {
    padding: em(18) em(30);
  }

  &.smallBtn {
    font-size: rem(14);
  }

  &:disabled {
    background: #2f2f2f;
    opacity: 0.5;
    cursor: not-allowed;

    &:focus,
    &:hover {
      background: #2f2f2f;
    }
  }

  &:focus,
  &:hover {
    background-color: var(--btn-hover-background);
  }
}
