@use "../util" as *;

.card {
  width: 100%;
  max-width: rem(450);
  margin: 0 auto rem(24);
  background-color: white;
  border-radius: var(--card-radius);
  padding: rem(40) rem(24);
  font-size: rem(14);
  line-height: 1.7;
  color: var(--dark-gray);

  &:last-child {
    margin-bottom: 0;
  }

  header {
    margin-bottom: rem(24);
  }

  p:not(:last-child) {
    margin-bottom: rem(24);
  }

  &__heading {
    color: black;
    font-weight: 700;
  }

  &__subHeading {
    color: var(--light-cyan);
    font-weight: 500;
  }

  @include breakpoint(medium) {
    max-width: rem(730);
    font-size: rem(16);
    width: 90%;
    padding: rem(48);
  }
}
