@use "../util" as *;

.input-wrap {
  display: flex;
  position: relative;
  align-items: flex-start;

  .prefix {
    position: absolute;
    top: 50%;
    padding: 0rem 0.8rem;
    padding-left: rem(24);
    transform: translateY(-50%);
    font-style: normal;
    font-weight: 700;
    font-size: rem(14);
  }
}

input[type="text"] {
  padding: rem(16) rem(22);
  padding-left: rem(40);
  outline: none;
  border: var(--card-border);
  border-radius: 100px;
  width: rem(100);
  font-size: rem(14);
  text-align: center;
  color: black;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 1rem;
  font-style: normal;

  &:hover,
  &:focus {
    border-color: var(--moderate-cyan);
  }
}

.radio {
  display: flex;
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  span {
    display: block;
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    border: var(--card-border);
    display: grid;
    place-items: center;

    &::before {
      content: "";
      width: rem(12);
      height: rem(12);
      background-color: var(--moderate-cyan);
      border-radius: 50%;
      transition: 180ms transform ease-in-out;
      transform: scale(0);
    }
  }

  input:checked + span {
    border-color: var(--moderate-cyan);

    &::before {
      transform: scale(1);
    }
  }
  input:focus + span {
    box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em var(--moderate-cyan);
    border-color: var(--moderate-cyan);
  }
  input:hover + span {
    // box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em var(--moderate-cyan);
    border-color: var(--moderate-cyan);
  }
}
