@use "../util" as *;

.introCard {
  text-align: center;
  margin-top: rem(-55);
  padding-top: rem(52);
  position: relative;

  .mastercraft-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    margin: 0 auto rem(16);
    font-style: normal;
    font-weight: 700;
    font-size: rem(22);
    line-height: 1.2;
  }

  .description {
    margin-bottom: rem(24);
  }

  .button-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include breakpoint(medium) {
    margin-top: rem(-92);
    padding-top: rem(56);

    h1 {
      font-size: rem(28);
    }

    .description {
      margin-bottom: rem(40);
    }
  }
}
