@use "../util" as *;

.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 1800px;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;

  &.is-blacked-out {
    display: block;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: rem(121);
  margin-bottom: rem(121);
  width: calc(100% - 3rem);
  z-index: 1011;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;

  &.is--visible {
    opacity: 1;
    pointer-events: auto;
  }

  &__close {
    cursor: pointer;
  }
}

.popup-modal {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;

    li:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  .cardWrap {
    border: var(--card-border);
    border-radius: var(--card-radius);

    .productCard {
      margin-bottom: 0;
      border: none;
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      grid-template-areas:
        "radio header amount"
        "description description description";
      align-items: center;
      row-gap: rem(24);
      column-gap: rem(16);

      .radio {
        grid-area: radio;
      }
      .head {
        gap: 1rem;
        grid-area: header;
        margin-bottom: 0;
        &:hover {
          h3 {
            color: var(--moderate-cyan);
          }

          & ~ .radio > span {
            border-color: var(--moderate-cyan);
          }
        }

        h3 {
          display: inline-block;
          cursor: pointer;
        }
      }
      .amount-wrap {
        grid-area: amount;
      }
      .description {
        grid-area: description;
      }
    }
    .productForm {
      text-align: center;
      border-top: var(--card-border);
      padding: rem(24) rem(16);
      display: none;

      p {
        margin-bottom: rem(16);
      }

      form {
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "input button";

        .errorMessage {
          display: none;
          grid-area: error;
          color: red;
          margin-bottom: rem(6);
          line-height: 1;
        }
        input[type="text"] {
          grid-area: input;
        }
        input[type="submit"] {
          grid-area: button;
        }

        &.error {
          grid-template-areas:
            "error error"
            "input button";

          .errorMessage {
            display: block;
          }
          input[type="text"] {
            border-color: red;
          }
          input[type="submit"] {
            background: #2f2f2f;
            opacity: 0.5;
            cursor: not-allowed;

            &:focus,
            &:hover {
              background: #2f2f2f;
            }
          }
        }
      }

      @include breakpoint(medium) {
        padding: rem(24);
      }
    }

    &.checked {
      border-color: var(--moderate-cyan);
      border-width: 2px;

      .productForm {
        display: block;
      }
    }

    &.out-of-stock {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  @include breakpoint(medium) {
    width: calc(90% - 6rem);
  }
  @include breakpoint(medium) {
    width: 69.3%;
  }
}

.success-modal {
  margin-top: rem(143);
  margin-bottom: rem(143);
  padding-top: rem(32);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: rem(24);
  }
  p {
    margin-bottom: rem(31);
  }
  button {
    align-self: center;
  }
}
