@use "../util" as *;

.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;

  &.is-blacked-out {
    display: block;
  }
}

.modal-container {
  padding-top: rem(121);
  padding-bottom: rem(121);
  z-index: 1011;
  display: none;

  &.is-blacked-out {
    display: block;
  }
}

.popup-modal {
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;

  &.is--visible {
    opacity: 1;
    pointer-events: auto;
  }

  &__close {
    cursor: pointer;
  }

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;

    li:not(:last-child) {
      margin-bottom: rem(24);
    }

    article {
      border: var(--card-border);
      border-radius: var(--card-radius);
    }
  }

  .productCard {
    margin-bottom: 0;
    border: none;
    header {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .productForm {
    border-top: var(--card-border);
    padding: rem(24);
  }
}
