@use "../util" as *;

.popup-modal {
  max-height: calc(100vh - 121px);
  padding-bottom: 5rem;
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      box-sizing: content-box;
      padding: 3px;

      &:focus {
        border: 1px solid var(--moderate-cyan);
        outline: none !important;
      }
    }
  }
  .reward-list article:not(:last-child) {
    margin-bottom: rem(24);
  }

  .cardWrap {
    border: var(--card-border);
    border-radius: var(--card-radius);

    &:focus {
      border-color: var(--moderate-cyan);
      border-width: 2px;
      outline: none !important;
      -webkit-tap-highlight-color: var(--moderate-cyan);
      -webkit-tap-highlight-color: transparent;

      input[type="radio"] + span {
        // box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em var(--moderate-cyan);
        border-color: var(--moderate-cyan);
      }
    }

    .productCard {
      margin-bottom: 0;
      border: none;
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      grid-template-areas:
        "radio header amount"
        "description description description";
      align-items: center;
      row-gap: rem(24);
      column-gap: rem(16);

      .radio {
        grid-area: radio;
      }
      .head {
        gap: 1rem;
        grid-area: header;
        margin-bottom: 0;
        &:hover {
          h3 {
            color: var(--moderate-cyan);
          }

          & ~ .radio > span {
            border-color: var(--moderate-cyan);
          }
        }

        h3 {
          display: inline-block;
          cursor: pointer;
        }

        @include breakpoint(large) {
          display: flex;
          align-items: center;

          h3 {
            margin-bottom: 0;
            margin-right: rem(16);
          }
        }
      }
      .amount-wrap {
        grid-area: amount;
      }
      .description {
        grid-area: description;
      }
    }
    .productForm {
      text-align: center;
      border-top: var(--card-border);
      padding: rem(24) rem(16);
      display: none;

      p {
        margin-bottom: rem(16);
      }

      form {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        grid-template-areas: "input button";

        .errorMessage {
          display: none;
          grid-area: error;
          color: red;
          margin-bottom: rem(6);
          line-height: 1;
        }
        input[type="text"] {
          grid-area: input;
        }
        input[type="submit"] {
          grid-area: button;
        }

        &.error {
          grid-template-areas:
            "error error"
            "input button";

          .errorMessage {
            display: block;
          }
          input[type="text"] {
            border-color: red;
          }
          input[type="submit"] {
            background: #2f2f2f;
            opacity: 0.5;
            cursor: not-allowed;

            &:focus,
            &:hover {
              background: #2f2f2f;
            }

            @include breakpoint-down(small) {
              padding: em(18) em(34);
            }
          }
        }
      }

      @include breakpoint(medium) {
        padding: rem(24);
      }
    }

    &.checked {
      border-color: var(--moderate-cyan);
      border-width: 2px;

      .productForm {
        display: block;

        @include breakpoint(large) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p:first-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.out-of-stock {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.success-modal {
  padding-top: rem(32);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: rem(24);
  }
  p {
    margin-bottom: rem(31);
  }
  button {
    align-self: center;

    &:focus {
      border: none;
    }
  }
}
